---
import BlogPost from '@/layouts/BlogPost.astro'
import PostTitle from "@/components/PostTitle.astro";
import BlogFooter from '@/components/BlogFooter.astro'
import {getCollectionByName} from "@/utils/getCollectionByName";
import {sortPostsByDate} from "@/utils/sortPostsByDate";
import Donate from '@/components/Donate.astro'
import {donate} from "@/consts";
import getUrl from "@/utils/getUrl";

export async function getStaticPaths() {
  const blogEntries = await getCollectionByName("blog");
  return blogEntries.map(entry => ({
    params: {slug: entry.slug}, props: {entry,},
  }));
}

const {entry} = Astro.props;
const {Content, remarkPluginFrontmatter} = await entry.render();

const lastModified = remarkPluginFrontmatter.lastModified
const readingTime = remarkPluginFrontmatter.readingTime

const posts = await getCollectionByName("blog");
const sortPosts = sortPostsByDate(posts);

const currentPostIndex = sortPosts.findIndex(
  (postItem) => postItem.data.title === entry.data.title
);
let prevPost, nextPost
// Previous = older posts (higher index in sorted array)
if (sortPosts[currentPostIndex + 1]) {
  prevPost = sortPosts[currentPostIndex + 1];
}
// Next = newer posts (lower index in sorted array)
if (sortPosts[currentPostIndex - 1]) {
  nextPost = sortPosts[currentPostIndex - 1];
}
---
<BlogPost frontmatter={entry.data}>
  <div>
    <PostTitle {...entry.data} lastModified={lastModified} readingTime={readingTime}></PostTitle>
    <div class="divider-horizontal"></div>
    <article class="markdown-body">
      <Content/>
    </article>
    <div class="divider-horizontal"></div>
    <div class="flex justify-between items-center h-8 text-skin-base">
      {prevPost ? (
        <a
          class="flex items-center truncate max-w-[40%] hover:text-skin-active transition-colors"
          href={getUrl('/') + prevPost.collection + '/' + prevPost.slug}
          title={prevPost.data.title}
        >
          <i class="ri-arrow-left-s-fill mr-1"/>
          <span class="truncate">{prevPost.data.title}</span>
        </a>
      ) : (
        <div></div>
      )}
      {nextPost ? (
        <a
          class="flex items-center truncate max-w-[40%] hover:text-skin-active transition-colors"
          href={getUrl('/') + nextPost.collection + '/' + nextPost.slug}
          title={nextPost.data.title}
        >
          <span class="truncate">{nextPost.data.title}</span>
          <i class="ri-arrow-right-s-fill ml-1"/>
        </a>
      ) : (
        <div></div>
      )}
    </div>
    <BlogFooter title={entry.data.title} url={getUrl('/') + entry.collection + '/' + entry.slug} date={entry.data.date}></BlogFooter>
    {
      donate.enable && entry.data.donate &&
      <Donate></Donate>
    }
  </div>

</BlogPost>
