---
import {site} from "@/consts";
import {t} from '@/i18n/utils'
import {formatDate} from "@/utils/formatDate.js";
const {title, date, url} = Astro.props;
---

<div class="border-l-4 my-4 p-4 border-l-skin-base bg-skin-card break-all">
  {title ?
    <div><span data-translate="footer.articleTitle">{t('footer.articleTitle')}</span>：{title}</div> : ''}
  {
    site.author ?
      <div><span data-translate="footer.articleAuthor">{t('footer.articleAuthor')}</span>：{site.author}</div> : ''
  }

  {
    date ?
      <div><span data-translate="footer.releaseTime">{t('footer.releaseTime')}</span>：{formatDate(date)}</div> : ''
  }
  {
    site.url?   <div>
      <span data-translate="footer.originalLink">{t('footer.originalLink')}</span>：<a href={site.url + url} class="hover:text-skin-active">{site.url + url}</a>
    </div>: ''
  }
</div>
