---
import {site, analytics} from "@/consts";
import {t} from '@/i18n/utils'
import getUrl from "@/utils/getUrl";
let shouldLoadBusuanzi = analytics.enable && analytics.busuanzi;
// You can change the initial date to your site's first release year.
const initialDate = 2025;
let displayDate = new Date().getFullYear() === initialDate ? `${initialDate}` : `${initialDate} - ${new Date().getFullYear()}`;
---

<div class:list={[shouldLoadBusuanzi ? 'h-16' : 'h-10', 'container p-1 absolute left-0 bottom-0']}>
  {
    shouldLoadBusuanzi && (
      <div class="flex items-center justify-center text-skin-base">
    <span id="busuanzi_container_site_pv">
      <span data-translate="footer.busuanziSitePV">{t('footer.busuanziSitePV')}</span><span id="busuanzi_value_site_pv"></span><span data-translate="footer.busuanziSitePVUnit">{t('footer.busuanziSitePVUnit')}</span>
    </span>
        <div class="divider-vertical"></div>
        <span id="busuanzi_container_site_uv">
      <span data-translate="footer.busuanziSiteUV">{t('footer.busuanziSiteUV')}</span><span id="busuanzi_value_site_uv"></span><span data-translate="footer.busuanziSiteUVUnit">{t('footer.busuanziSiteUVUnit')}</span>
    </span>
      </div>
    )
  }
  <div class="flex items-center flex-col flex-wrap justify-center mb-4 text-skin-base first:mb-0 sm:flex-row">
    <div>
      <span class="cursor-default" data-translate="footer.copyright">{t('footer.copyright')}</span>
      <i class="ri-copyright-line align-middle"></i>
      <span class="align-middle">{displayDate}</span>
    </div>
    {
      site.beian && (
        <div class="divider-vertical hidden sm:block"></div>
        <a rel="nofollow" target="_blank" href="https://beian.miit.gov.cn/">
          {site.beian}
        </a>
      )
    }
    <div class="divider-vertical"></div>
    <a href={getUrl("/sitemap-0.xml")}><span data-translate="footer.sitemap">{t('footer.sitemap')}</span></a>
  </div>
</div>
